.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

    body{
     background-color: #578fbf;
      font-family: helvetica, sans-serif;
    }
    div.header {
      text-align: center;
      color: rgba(255,225,225,.7) ;
      font-family: century gothic;
      background: url('http://i.imgur.com/guwjTYf.jpg');
      background-size: 100%;
      background-repeat: no-repeat;
    }
    a {
      color: mintcream;
      font-family: 'Didact Gothic', sans-serif;
    }
    h1 {
      font-size: 80px;
      font-family: 'Didact Gothic', sans-serif;
      padding: 0px;
    }
    h2{
      text-align: center;
    }
    ul {
      padding: 10px;
      background: rgba(255,0,0,.5);
      font-size: 20px;
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    article {
      max-width: 700px;
      padding: 10px;
      margin: 0 auto;
      font-family: 'Didact Gothic', sans-serif;
      color: white;
      text-align: center;
      font-size: 17px;
    }
    div.creamtitle{
      color: rgba(255,225,225,.7);
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
      }
      li {
        padding: 5px;
        display: block;
      }
    }
    div.committee{
      text-align: left;
    }


      #share-buttons img {
        width: 50px;
        padding: 5px;
        border: 0;
        border-radius: 40px;
        box-shadow: 0;
        display: inline;
    }

.carousel-control.left, 
.carousel-control.right {
    background-image: none
}

footer{
  color: white;
 font-family: 'Didact Gothic', sans-serif; 
}


small{
  opacity: 0;
}
.show-description p {
  height: 60px;
}
.show-description small{
  opacity: 1;
}

<<<<<<< Updated upstream
.btn {
  font-size: 17px;
=======
div.bluetext{
  color: blue;
>>>>>>> Stashed changes
}
